.words-div {
	padding: 5px 10px;
    background-color: rgb(71, 65, 65);
}
.p-words {
	color: white;
	text-align: center;
	font-family: sans-serif;
}
.content-wrapper {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.content-text {
    margin-bottom: 10px;
    font-size: 14px;
	font-family: Arial;
}

.logo {
    width: 100px; /* Adjust width as needed */
    margin: 10px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}