/* Shared styles for both login and signup forms */
/* .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.form-box {
	color: white;
	background-color: black;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	width: 300px;
  }
  h2 {
	color: white;
	text-align: center;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
  } 
  .input-box {
	margin-bottom: 15px;
	margin-right: 20px;
  }
  .error-text {
	color: red;
	font-size: 12px;
	margin-top: 5px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
  } 
  .input-box label {
	display: block;
	margin-bottom: 5px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
  }
  .input-box input {
	width: 108%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
  } 
  .submit-btn {
	width: 100%;
	background-color: #28a745;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
  }
  .submit-btn:hover {
	border-radius: 100px;
	border: 1px solid lightgrey;
	background-color: #218838;
	font-family: Arial, Helvetica, sans-serif;
  } 
  .toggle-text {
	display: block;
	text-align: center;
	color: #007bff;
	cursor: pointer;
	margin-top: 15px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
  }
  .toggle-text:hover {
	text-decoration: underline;
  }  */